@font-face {
  font-family: 'Mostfear'; 
  src: url('https://bettyleg.github.io/Fuentes/Mostfear.ttf');
  src: url('https://bettyleg.github.io/Fuentes/Mostfear.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
