@font-face {
  font-family: 'Headliner'; 
  src: url('https://bettyleg.github.io/Fuentes/Headliner.ttf');
  src: url('https://bettyleg.github.io/Fuentes/Headliner.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
